<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokémon Team Builder</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{> nav}}

    <div class="container">
        <h1>Pokémon</h1>
        <div class="pokeballmain">
            <img src="/images/pokeballMainPage.png" alt="There should be a image here">
        </div>
        <h1>Team Builder</h1>
    </div>



    <div class="teams-container">
        {{#teams}}
        <div class="team-card">
            <h2>{{team_name}}</h2>
            <p>Effectiveness: {{effectiveness}}%</p>
            
            <p>Types: 
                {{#types_summary}}
                    <span>{{.}}</span> 
                {{/types_summary}}
            </p>

            <div class="pokemon-list">
                {{#pokemon_list}}
                    <button>{{.}}</button> 
                {{/pokemon_list}}
            </div>

            <div class="team-actions">
                <a href="/team/{{id}}"><button>Details</button></a>
                <button>Edit</button>
                <button>Delete</button>
            </div>
        </div>
        {{/teams}}
    </div>

</body>
</html>
