<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{team.team_name}} - Team Details</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>


    {{> nav}}
    
    <div class="pokemon-detail">
        <div class="pokemon-info">
            <h2 class="pokemon-name-details">{{name}}</h2>
            <div class="pokemon-types">
                {{#types}}
                    <div class="type-item">
                    <img class="type-img-details" src="/images/{{.}}Type.png" alt="{{.}} type">
                    <span class="type-name-details">{{.}}</span>
                    </div>
                {{/types}}
            </div>
        </div>

        <div class="pokemon-stats">
            {{#stats}}
            <div class="stat">
                <span class="stat-name">{{name}}:</span>
                <span class="stat-value">{{base_stat}}</span>
            </div>
            {{/stats}}
        </div>
    </div>
    
    <h1>{{team.team_name}} - Team Details</h1>

    <p>Effectiveness: {{team.effectiveness}}%</p>

    

    <div>
        <a href="/teams">
                <button class="mainButton teamDetailsButton" role="button">Back to Teams</button>
        </a>
    </div>
</body>
</html>
