<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teams</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <h1>Teams</h1>

    {{> nav}}

    <div class="teams-container">
        {{#teams}}
            <div class="team-wrapper">
            <!-- have to wrap this ^ to get everything to be one -->
            <div class="team-card">
                <h2>{{team_name}}</h2>
                <p>Effectiveness: {{effectiveness}}%</p>
                <p>Types:
                {{#types_summary}}
                    <img src="/images/{{.}}Type.png" alt="{{.}} type">
                {{/types_summary}}
                </p>
                <div class="pokemon-list">
                {{#pokemon_list}}
                    <a href="https://pokemondb.net/pokedex/{{.}}" target="_blank">
                        <button>{{.}}</button>
                    </a>
                {{/pokemon_list}}
                </div>
            </div>

            <!-- then these guys on the right -->
            <div class="team-actions">
                <a href="/team/{{id}}">
                    <button class="detailsButton">
                        <img src="/images/detailsIcon.png" alt="Details Icon" />
                    </button>
                </a>
                <button class="editButton">
                    <img src="/images/editIcon.png" alt="Edit Icon" />
                </button>
                <form action="/delete/{{id}}" method="POST" style="display: inline;">
                <button class="deleteButton" type="submit">
                    <img src="/images/deleteIcon.png" alt="Delete Icon" />
                </button>
                </form>
            </div>
            </div>
            
        {{/teams}}
</div>


</body>
</html>
