<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{team.team_name}} - Team Details</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>


    {{> nav}}
    
    <h1>{{team.team_name}} - Team Details</h1>

    <p>Effectiveness: {{team.effectiveness}}%</p>

        <p>Types:</p>
        <div class="team-details-types">
            {{#team.types_summary}}
                <div class="type-item-details">
                    <img class="type-img-details" src="/images/{{.}}Type.png" alt="{{.}} type">
                    <p class="type-name-details">{{.}}</p>
                </div>
            {{/team.types_summary}}
        </div>


    <h3>Pokémon:</h3>
    <ul>
        {{#team.pokemon_list}}
            <li class="pokemon_names">{{.}}</li>
        {{/team.pokemon_list}}
    </ul>
    <div>
        <a href="/teams">
                <button class="mainButton teamDetailsButton" role="button">Back to Teams</button>
        </a>
    </div>
</body>
</html>
