@font-face {
  font-family: 'GBA';
  src: url('/fonts/GBfont.woff2') format('woff2'),
      url('/fonts/GBfont.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 100px;
  height: 100vh;
  text-align: center;
}
h1 {
  margin: 0.5rem 0;
  font-family: 'GBA', Arial, sans-serif;
  font-size: 60px;
}


body {
  /*
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  */
  font-family: 'GBA', Arial, sans-serif;
  font-size: 30px;
  text-align: center;
  position: relative;
  z-index: 0;
}

.other-pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body::before {
  content: "";
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background: url("/images/Background2.png") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  z-index: -2;
}
body::after {
  content: "";
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: rgba(255, 255, 255, 0.356);
  z-index: -1;
}

.pokeballmain {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pokeballmain img {
  width: 300px;
  height: auto;
}

/*----------------------------------  */
/*adding these becuase I want to copy this button style, just marking where it starts/ends*/

.mainButton {
  position: relative;
  top: -200px;
  appearance: button;
  background-color: #e25412;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #313131;
  cursor: pointer;
  display: inline-block;
  font-family: 'GBA',sans-serif;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 10px;
  outline: none;
  overflow: visible;
  padding: 20px 50px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
  font-size: 35px;
}
.mainButton:after {
  background-clip: padding-box;
  background-color: #ee5315;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.mainButton,
.mainButton:focus {
  user-select: auto;
}
.mainButton:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}
.mainButton:disabled {
  cursor: auto;
}
.mainButton:active {
  border-width: 4px 0 0;
  background: none;
}

/*Ends here*/
/*----------------------------------  */

.submitButton {
  position: relative;
  appearance: button;
  background-color: #e25412;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #313131;
  cursor: pointer;
  display: inline-block;
  font-family: 'GBA',sans-serif;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  outline: none;
  overflow: visible;
  padding: 20px 30px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
  font-size: 35px;
}
.submitButton:after {
  background-clip: padding-box;
  background-color: #ee5315;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.submitButton,
.submitButton:focus {
  user-select: auto;
}
.submitButton:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}
.submitButton:disabled {
  cursor: auto;
}
.submitButton:active {
  border-width: 4px 0 0;
  background: none;
}

/*----------------------------------  */

.teamDetailsButton {
  position: relative;
  top: 10px;
}


.teams-container {
  display: flex;
  flex-wrap: column;
  
  gap: 20px;
}
.team-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 0px;
}
.team-card {
  background: white;
  padding: 15px;
  margin: 10px 0;
  width: 200px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.team-actions {
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin-top: 100px; /*so it lines up better with the card*/
}

.team-card {
  background: white;
  padding: 15px;
  margin: 10px;
  width: 200px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.type-img {
  width: 35px;
  height: auto;
  position: relative;
  top: 10px;

  
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
  justify-items: center; 
  align-items: center;
  text-transform: uppercase;
}
.pokemon-list button {
  font-family: 'GBA',sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  background: #5bbeff;
  border: none;
  padding: 5px;
  margin: 3px;
  border-radius: 4px;
  cursor: pointer;
}

.team-actions button {
  margin: 5px;
  padding: 8px;
  cursor: pointer;
}

.high { color: green; }
.medium { color: orange; }
.low { color: red; }


  /*----------------------------------  */


.detailsButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}
.detailsButton img {
  width: 40px; 
  height: auto;
}
.editButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}
.editButton img {
  width: 40px; 
  height: auto;
}
.deleteButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}
.deleteButton img {
  width: 40px; 
  height: auto;
}

.menu-container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}
.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}
.menu-button img {
  width: 70px; 
  height: auto;
}

/* dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  top: 70px; 
  right: 0;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  border-radius: 10px;
  width: 250px;
}
.dropdown-content a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
}
.dropdown-content a:hover {
  background-color: #f03f3fad;
}


.team-details-types .type-item-details {
  display: inline-block;
  text-align: center;
  margin-right: 10px;
}

.team-details-types .type-img-details {
  width: 50px;
  height: auto;
}

.team-details-types {
  text-transform: capitalize;
  margin-top: 5px;
  font-size: 30px;
}

.type-name-details {
  display: block;
  margin-top: 5px;
  text-transform: capitalize;
}
  
h3 {
  margin-bottom: 5px;
}

ul {
  margin-top: 0;
  padding-left: 20px;
}

.pokemon_names {
  text-transform: capitalize;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.team-details-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.pokemon-details-container {
  flex: 1;
  margin: 0;
  text-align: left;
}
.pokemon-detail {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  border: 2px solid #00dee6a6;
  border-radius: 8px;
  background-color: #ffffff63;
}
.pokemon-name {
  font-weight: bold;
  width: 150px;
}
.pokemon-types {
  display: flex;
  gap: 5px;
  align-items: center;
}
.type-item {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  display: flex;
  align-items: center;
}
.type-img-details {
  width: 40px;
  height: auto;
}


.back-to-teams {
  width: 350px;
  position: static !important;
  top: 0 !important;
}

.team-details-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  justify-items: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  padding: 20px;
}

.pokemon-box {
  background: #fffbea79;
  border: 2px solid #00dee6a6;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 300px;
  font-family: 'GBA', sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
  gap: 16px;
}
.pokemon-name-details {
  margin: 0;
  font-size: 24px;
  color: #005153;
  text-transform: capitalize;

  
}
.pokemon-types-details {
  display: flex;
  gap: 30px;
  margin-top: 10px;
}
.type-icon {
  width: 40px;
  height: auto;
  
}
.pokemon-stats {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.stat {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  width: 120px;
}
.stat-name {
  font-weight: bold;
  color: #333;
}
.stat-value {
  color: #666;
}
.pokemon-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.team-details-page {
  display: block !important;
  text-align: center;
  margin: 0;
  padding: 0;
}
.team-details-page .container {
  display: block !important;
  height: auto !important;
  padding: 0 !important;
  text-align: left !important;
}
.team-details-page .mainButton {
  margin-top: 50px;
  top: 0;
}

body.team-details-page {
  display: block !important;
  margin: 0;
  padding: 0;
  text-align: center;
}